[submodule "Sessions/Unit Testing JavaScript React Components"]
	path = Sessions/Unit Testing JavaScript React Components
	url = https://github.com/phryneas/2019-04-05-developercamp-react-testing-session
